.btn-comment-toggle {
  &--hide {
    background-color: #0065ff !important;
    color: #ffffff !important;
  }

  .temp {
    height: 32px;
    background: #f4f5f7;
    border: none;
    color: #707070;
  }
}
